In [1]:
import pandas as pd
import numpy as np
import os



from env import host, user, password
from pydataset import data
from acquire import get_connection, new_telco_data, get_telco_data

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = get_telco_data()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [4]:
df.head(2)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,Yes,...,Yes,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)

In [5]:
from prepare import clean_telco, train_validate_test_split

In [6]:
df = clean_telco(df)

In [7]:
df.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,churn,gender_Female,gender_Male,partner_No,partner_Yes,...,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0003-MKNFE,0,9,59.9,542.40,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
1,0013-MHZWF,0,9,69.4,571.45,0,1,0,1,0,...,1,0,0,1,0,0,0,1,0,0
2,0015-UOCOJ,1,7,48.2,340.35,0,1,0,1,0,...,1,0,0,1,0,0,0,0,1,0
3,0023-HGHWL,1,1,25.1,25.10,1,0,1,1,0,...,1,0,0,1,0,0,0,0,1,0
4,0032-PGELS,0,1,30.5,30.50,1,1,0,0,1,...,1,0,0,1,0,0,1,0,0,0

In [8]:
train, validate, test = train_validate_test_split(df, seed=123)
train.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,churn,gender_Female,gender_Male,partner_No,partner_Yes,...,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
5670,2739-CCZMB,0,5,20.35,122.00,0,0,1,1,0,...,1,0,0,0,0,1,0,1,0,0
4152,8035-PWSEV,0,6,89.25,487.05,0,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
4890,6250-CGGUN,0,54,84.40,4484.05,0,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
2391,9499-XPZXM,0,72,64.75,4804.75,0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,0
2896,2305-MRGLV,0,28,76.55,2065.40,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0