In [1]:
import pandas as pd
import numpy as np
import os



from env import host, user, password
from pydataset import data
from acquire import get_connection, new_telco_data, get_telco_data

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = get_telco_data()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [4]:
df.head(2)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,Yes,...,Yes,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)

In [5]:
from prepare import clean_telco

In [6]:
df = clean_telco(df)

In [7]:
df.head()

,senior_citizen,tenure,monthly_charges,total_charges,churn,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,device_protection_No internet service,...,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,9,59.9,542.4,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
1,0,9,69.4,571.45,0,0,0,1,1,0,...,0,1,1,0,0,0,0,1,0,0
2,1,7,48.2,340.35,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,1,1,25.1,25.1,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,0,1,30.5,30.5,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   senior_citizen                         7043 non-null   int64
 1   tenure                                 7043 non-null   int64
 2   monthly_charges                        7043 non-null   float64
 3   total_charges                          7043 non-null   object
 4   churn                                  7043 non-null   int64
 5   gender_Male                            7043 non-null   uint8
 6   partner_Yes                            7043 non-null   uint8
 7   dependents_Yes                         7043 non-null   uint8
 8   phone_service_Yes                      7043 non-null   uint8
 9   device_protection_No internet service  7043 non-null   uint8
 10  device_protection_Yes                  7043 non-null   uint8
 11  online_security_No internet service    7043 non-null   uint8
 12  online_security_Yes                    7043 non-null   uint8
 13  online_backup_No internet service      7043 non-null   uint8
 14  online_backup_Yes                      7043 non-null   uint8
 15  tech_support_No internet service       7043 non-null   uint8
 16  tech_support_Yes                       7043 non-null   uint8
 17  streaming_tv_No internet service       7043 non-null   uint8
 18  streaming_tv_Yes                       7043 non-null   uint8
 19  streaming_movies_No internet service   7043 non-null   uint8
 20  streaming_movies_Yes                   7043 non-null   uint8
 21  paperless_billing_Yes                  7043 non-null   uint8
 22  contract_type_One year                 7043 non-null   uint8
 23  contract_type_Two year                 7043 non-null   uint8
 24  internet_service_type_Fiber optic      7043 non-null   uint8
 25  internet_service_type_None             7043 non-null   uint8
 26  payment_type_Credit card (automatic)   7043 non-null   uint8
 27  payment_type_Electronic check          7043 non-null   uint8
 28  payment_type_Mailed check              7043 non-null   uint8
dtypes: float64(1), int64(3), object(1), uint8(24)
memory usage: 495.2+ KB