In [1]:
import pandas as pd
import numpy as np
import os



from env import host, user, password
from pydataset import data
from acquire import get_connection, new_telco_data, get_telco_data

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = get_telco_data()

In [3]:
df.multiple_lines.value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64

In [4]:
df.head(1)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check

In [5]:
from prepare import clean_telco, train_validate_test_split

In [6]:
df = clean_telco(df)

In [7]:
df.head(2)

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,churn,average_charges,no_pd,phone_lines,stream_tv_mov,...,monthly_contract,one_yr_contract,two_yr_contract,has_dsl,has_fiber_optic,no_internet,pmt_bank transfer,pmt_cc,pmt_electronic_check,pmt_mailed_check
0,0003-MKNFE,0,9,59.9,542.40,0,60.27,1,1,0,...,1,0,0,1,0,0,0,0,0,1
1,0013-MHZWF,0,9,69.4,571.45,0,63.49,0,0,1,...,1,0,0,1,0,0,0,1,0,0

In [8]:
df.groupby('churn').monthly_contract.value_counts()

churn  monthly_contract
0      0                   2954
       1                   2220
1      1                   1655
       0                    214
Name: monthly_contract, dtype: int64

    df.columns = ['customer_id',
 'senior_citizen',
 'tenure',
 'monthly_charges',
 'total_charges',
 'churn',
 'average_charges',
 'no_pd',
 'phone_lines',
 'stream_tv_mov',
 'online_sec_bkup',
 'female',
 'male',
 'no_partner',
 'has_partner',
 'dependents_no',
 'dependents_yes',
 'device_protection_no',
 'device_protection_no_int',
 'device_protection_yes',
 'tch_support_no',
 'tch_support_no_int',
 'tch_support_yes',
 'paperless_billing_no',
 'paperless_billing_yes',
 'monthly_contract',
 'one_yr_contract',
 'two_yr_contract',
 'has_DSL',
 'has_Fiber_Optic',
 'no_internet',
 'pmt_bank transfer',
 'pmt_cc',
 'pmt_electronic_check',
 'pmt_mailed_check']

In [10]:
train, validate, test = train_validate_test_split(df, seed=123)
train.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,churn,average_charges,no_pd,phone_lines,stream_tv_mov,...,monthly_contract,one_yr_contract,two_yr_contract,has_dsl,has_fiber_optic,no_internet,pmt_bank transfer,pmt_cc,pmt_electronic_check,pmt_mailed_check
5670,2739-CCZMB,0,5,20.35,122.00,0,24.40,0,0,0,...,1,0,0,0,0,1,0,1,0,0
4152,8035-PWSEV,0,6,89.25,487.05,0,81.18,1,0,0,...,1,0,0,0,1,0,0,0,1,0
4890,6250-CGGUN,0,54,84.40,4484.05,0,83.04,1,0,0,...,0,1,0,0,1,0,0,0,1,0
2391,9499-XPZXM,0,72,64.75,4804.75,0,66.73,0,1,0,...,0,0,1,1,0,0,1,0,0,0
2896,2305-MRGLV,0,28,76.55,2065.40,0,73.76,0,0,0,...,1,0,0,0,1,0,1,0,0,0